@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&family=Poppins:wght@100;200;300;400&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  color: #111;
  font-size:10em;
}

h1 span {
  display: table-cell;
  margin: 0;
  padding: 0;
  animation: animate 3s linear infinite;
}

h1 span:nth-child(1) {
  animation-delay: 0s;
}

h1 span:nth-child(2) {
  animation-delay: 0.25s;
}

h1 span:nth-child(3) {
  animation-delay: 0.5s;
}

h1 span:nth-child(4) {
  animation-delay: 0.75s;
}

h1 span:nth-child(5) {
  animation-delay: 1s;
}

h1 span:nth-child(6) {
  animation-delay: 1.25s;
}

h1 span:nth-child(7) {
  animation-delay: 1.5s;
}

h1 span:nth-child(8) {
  animation-delay: 1.75s;
}

h1 span:nth-child(9) {
  animation-delay: 2s;
}
@keyframes animate {
  0%,
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 300px #00b3ff,
      0 0 4000px #00b3ff; 
  }
  5%,
  95% {
    color: #111;
    filter: blur(0px);
  }
}
.Ring , .Ring2{
  position: relative;
  width:180px;
  height: 180px;
}
.Container{
  position: relative;
}

.Ring::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
 right: 5rem;
  border-radius: 50%;
  background: #24ecff;
  box-shadow: 0 0 0 5px #24ecff33,
  0 0 0 10px #24ecff22,
  0 0 0 20px #24ecff11;
  animation: animate2 4s linear infinite;
}

.Ring2::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: 3rem;
  bottom:-2rem;
  border-radius: 50%;
  background: #93ff2d;
  box-shadow: 0 0 0 5px #93ff2f33,
  0 0 0 10px #93ff2f22,
  0 0 0 20px #93ff2d11;
  animation: animate3 4s linear infinite;
}


@keyframes animate2 {
  
  0% {
    transform: translate(0 , 0);
    }
    20% {
      transform: translateY(14rem);
    }
    40% {
    transform: translate(-70rem ,14rem);
    }
    60% {
      transform: translateX(-70rem );
    }
   
    100% {
      transform: translate(0 , 0);
    }
}


@keyframes animate3 {
  
  0% {
    transform: translate(0 , 0);
    }
    20% {
      transform: translateY(-15rem);
    }
    40% {
      transform: translate(70rem ,-15rem);
    
    }
    60% {
      transform: translateX(70rem );
    }
    100% {
      transform: translate(0 , 0);
    }
}